body {
  margin: 0;
  background: #333;
  color: #74d7fd;
  text-align: center;
}

.title {
  margin-top: 300px;
  font-size: 4rem;
}

.tip {
  font-size: 1.4rem;
}

a:link {
  color: plum;
}

a:visited {
  color: plum;
}

a:hover {
  color: #333;
  background-color: gold;
}

a:active {
  color: #333;
  background-color: aqua;
}

a:focus {
  color: #333;
  background-color: gold;
}

ul.user-list {
  padding-inline: 0 0;
  margin-block: 3em;
}

li.user-item {
  list-style-type: none;
  margin-block: 3em;
}

img.user-face {
  border-radius: 50%;
}
